<div class="newsletter-form">
    <h2>Stay Informed</h2>
    <form method="post" action="process.php">
        <label for="email">Get all the latest policy updates by signing up for our quarterly newsletter.</label>
        <input type="email" id="email" name="email" value="" placeholder="Enter your email address here" required="required" />
        <span id="loading"></span>
        <input type="submit" value="Subscribe" id="submit-button" />
    </form>
</div>