<nav class="social">
	<ul>
		<li class="facebook social-button"><a href="{{ facebook }}" target="_blank"></a></li>
		<li class="twitter social-button"><a href="{{ twitter }}" target="_blank"></a></li>
		<li class="mail social-button"><a href="mailto:{{ email }}"></a></li>
	</ul>
</nav>