<div class='flip-card project-tile dCard'>	
    <div class='front' style="background-image: url({{ tile.get_thumbnail.get_src }});">
    	
    </div>
    <div class='back' style="background-image: url({{ tile.get_thumbnail.get_src }});">
    	<div class='dMember-info'>
	    	<h2>
	    		{{ tile.post_title }}
	    	</h2>
	    	<p>{{ tile.professional_position }}</p>
	    </div>
    </div>					
</div>